{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head>
<body>
  <div class="header">
    <div class="left-section">
        <p class="header-text">Skilltree </p>
    </div>
   
   <div class="middle-section">
       <p class="header-text">Forum </p>
    </div>
    
    <div class="right-section">
       <a class="header-text";  href="{% url 'watch' %}"> Your Courses </a>
    </div>

    <div class="account">
            
    <button class="button-account"> Account</button>
    
    <div class="dropdown-content">
        <a href="{% url 'login' %}"> My Account</a>
        <a href="https://academy.hubspot.com/">Settings</a>
        <a href="https://www.youtube.com/user/hubspot">Log out</a>
    </div>
</div>   
</div>

  <h3>Login</h3>

<form method="POST" action="">
% csrf_token % 
{{ form.as_p }}



<input type="submit" name="Create User"

</form>
</body>
</html>
