{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ModernStudyDojo</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses-header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/general.css' %}">
    
</head>

<body>
<div class="courses">
    <div class="left">
        <p>left</p>
    </div>

    <div class="main">
        <div class="header">
            <p>header</p>
        </div>

        <div class="unten">
            <p>unten</p>
        </div>
    </div>
</div>
</body>

</html>