
.courses{
  display:flex;
  flex-direction: row;
}

.left{
  
  background-color: rgb(119, 117, 117);
  width: 200px;
  
  
}

.main{
  display:flex;
  flex-direction: column;
  flex: 1;
  
  
}

.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  background-color: rgba(0, 214, 170, 0.85);
}

.unten{
  flex: 1;
}

