
.main{
  display: flex;
  flex-direction: row;
}

.kalender{
  display: flex;
  flex: 1;
  background-color: #1da9c2;
  
}

.uebungen{
  display: flex;
  flex: 1;
  background-color: #cc4d37;
}

.rechts{
  display: flex;
  flex: 1;
  background-color: #1da9c2;
}
