
.main{
  display: flex;
  flex-direction: row;
}

.kalender{
  display: flex;
  background-color: #1da9c2;
  width: 200px;
  height:200px;
}

.uebungen{
  display: flex;
  flex: 1;
  background-color: #000000;
}

.rechts{
  display: flex;
  flex: 1;
  background-color: #1da9c2;
}

