{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ModernStudyDojo</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
</head>

<body>
<div class="header">
    <div class="left-section">
        <p class="header-text">Skilltree </p>
    </div>
   
   <div class="middle-section">
       <p class="header-text">Forum </p>
    </div>
    
    <div class="right-section">
       <a class="header-text";  href="{% url 'watch' %}"> Your Courses </a>
    </div>

    <div class="account">
            
    <button class="button-account"> Account</button>
    
    <div class="dropdown-content">
        <a href="{% url 'login' %}"> My Account</a>
        <a href="https://academy.hubspot.com/">Settings</a>
        <a href="https://www.youtube.com/user/hubspot">Log out</a>
        <a href="http://localhost:8000/register/"> Register</a>
    </div>
</div>   
</div>
<div class="main">
    <div class="kalender"> Hier kommt der Kalender hin</div>
    <div class="uebungen"> Hier stehen Uebungen die man weiter machen kann</div>
    <div class="rechts"> Bisher noch freier platz</div>
</div>
 <a> </a>
</body>

</html>